@model Warehouse

@{
    string filter = ViewBag.Filter;
    ViewData["Title"] = "Details";
}

<div>
    <h4>Depósito</h4>

    <h2 class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </h2>
</div>

<div id="items">
    <div id="modal-form" aria-hidden="true">
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script type="text/javascript">

        $.ready(loadItems(@Model.Id, @filter))
        function loadItems(warehouseId, filter) {
        debugger;
            $.ajax({
                type: 'GET',
                url: "/Itens/Lista/Deposito",
                dataType: 'html',
                data: {
                    warehouseId: warehouseId,
                    filter: filter
                },
                cache: false,
                async: true,
                success: function (data) {
                    $('#modal-form').empty();
                    $('#modal-form').append('<partial name = "/Itens/Lista/Deposito" />');
                    $('#modal-form').html(data);
                }
            });
        }
    </script>
}