<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.web>
  <securityPolicy>
    <trustLevel name="Medium" policyFile="internal"/>
  </securityPolicy>
</system.web>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Inventory.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: af8d21fb-aa36-48b1-9619-5cfb42d01bfe-->