<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Importação Completa</h5>

                <form asp-controller="Imports" asp-action="ImportAll" mothod="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="file" name="documentFile" class="form-control" />
                        <button type="submit" class="btn btn-group btn-success">Upload</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Importação com Contagem</h5>

                <form asp-controller="Imports" asp-action="ImportWithStockTaking" mothod="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="file" name="documentFile" class="form-control" />
                        <button type="submit" class="btn btn-group btn-success">Upload</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Importar Movimentação</h5>

                <form asp-controller="InventoryMovement" asp-action="UploadDocument" mothod="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="file" name="documentFile" class="form-control" />
                        <button type="submit" class="btn btn-group btn-success">Upload</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Importar Depósitos</h5>

                <form asp-controller="Warehouses" asp-action="ImportWarehouses" mothod="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="file" name="documentFile" class="form-control" />
                        <button type="submit" class="btn btn-group btn-success">Upload</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Importar Endereçamentos</h5>

                <form asp-controller="Addressings" asp-action="ImportAddressings" mothod="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="file" name="documentFile" class="form-control" />
                        <button type="submit" class="btn btn-group btn-success">Upload</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Importar Produtos</h5>

                <form asp-controller="Items" asp-action="ImportItems" mothod="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="file" name="documentFile" class="form-control" />
                        <button type="submit" class="btn btn-group btn-success">Upload</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>