<p>
    <form asp-controller="Imports" asp-action="ImportAll" mothod="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="file" name="documentFile" class="form-control" />
            <button type="submit" class="btn btn-group btn-success">Upload</button>
        </div>
    </form>
</p>